<app-header></app-header>
<section class="grupos-page">
    <div class="content-list-aventureiro">
        <form [formGroup]="grupoForm" (ngSubmit)="criarGrupo()"  *ngIf="usuarioLogado.tipoUsuario !== 'Criador'">
            <div class="input-row">
                <label for="nome" class="label-input">Nome da Guilda:</label>
                <div class="flex items-center gap-3 mb-3 content-input">
                    <p-inputgroup>
                        <p-inputgroup-addon>
                            <i class="pi pi-envelope"></i>
                        </p-inputgroup-addon>
                        <input id="nome" pInputText formControlName="nomeGrupo" class="flex-auto" />
                    </p-inputgroup>
                </div>
            </div>
            
            <div  style="margin-top: 10px;">
                <p-button label="Criar Guilda" type="submit"/>
            </div>
        </form>
        <app-lista-eventureiro [dataSource]="dataSourceAventureiro"></app-lista-eventureiro>
    </div>
    <div class="content-list-grupos">
        <app-lista-grupos [grupos]="grupoReponse"></app-lista-grupos>
    </div>
</section>