.rigth-home {
    width: 70%;
    height: 100%;
}

.cont-pai-panel {
    padding: 8px;
}

.letf-home {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: end;
}

.conteudo-left {
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: left;
}

.img-home-1 {
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-image: url('../../../assets/retrato-de-personagem-pirata-em-estilo-de-arte-digital.png');
}

.text-image-1 {
    top: 60px;
    position: relative;
    width: 275px;
    height: 110px;
    padding: 15px;
    background-color: #fafafa;
    border-radius: 10px;
    overflow: auto;
}

.font-span-card {
    font-weight: none;
}